body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight:600;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  text-decoration: none;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

.header-title {
  font-weight: normal;
}
.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.profile {
  width: 30%;
  margin: 0 auto;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.lets-connect {
  margin: 40px auto 60px;
  width: 50%;
}

.btn {
  border-radius: 20px;
  color: #FFFFFF;
  font-weight: 100;
  padding: 15px 40px;
  background-color: #66BFBF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #5EBABA;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.middle-container {
  margin: 50px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 40px 0 20px 0;
}

.footer-link{
  display: inline-block;
  margin: 10px 20px;
  color:#fff;
}

.footer-link:hover{
  color:#eaf6f6;
}

.copyright{
  margin:20px;
  color: #fff;
  font-size:0.75rem;
}
/************* IMAGES *******************/
.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 400px;
}

.profile-pic {
  width: 180px;
}

.design-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
